// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: "Poppins", sans-serif;
}

// Font Colors
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-dark {
  color: $dark;
}
.text-white {
  color: white;
}

// Background colors
.bg-dark {
  background-color: $dark;
}
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}


.bg-light-grey {
  background-color: #1c1c1c;
}
.card-bg {
  background-color: #f7f7f7;
}

// Font Weight
.fw-900 {
  font-weight: 900;
}
.fw-800 {
  font-weight: 800;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.fw-300 {
  font-weight: 300;
}
.fw-200 {
  font-weight: 200;
}
.fw-100 {
  font-weight: 100;
}

// Font Sizes
.fs-100 {
  font-size: 100px;
}
.fs-60 {
  font-size: 60px;
}
.fs-48 {
  font-size: 48px;
}
.fs-36 {
  font-size: 36px;
}
.fs-30 {
  font-size: 30px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

// Letter Spacing
.ls-2 {
  letter-spacing: 2px;
}

// Border Radius
.br-20 {
  border-radius: 20px;
}
.br-10 {
  border-radius: 10px;
}
